.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.black_text, .black_text:hover {
    color: black;
}

.white_text, .white_text:hover {
    color: white;
}

div.fixDisplayStyle label {
    display: block;
}

.formMargin {
    margin: 10px;
}

.dynamic-form input.ng-invalid.ng-touched, .dynamic-form input.ng-untouched, .dynamic-form input.ng-pristine {
    background-color: #FA787E;
}

.dynamic-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}