
<div >
    <div ng-repeat="lab in labs.objects">
        <div class="panel panel-info">
            <div class="panel-heading" style="overflow: hidden" ng-include="'partials/lab_panel_header_with_tags.html'">
            </div>
            <div class="panel-body" ng-show="lab.child_nodes.length">
                    <span class="label label-info" ng-repeat="node in lab.child_nodes">
                        <a class="black_text" href="#/lab/{{ node.id }}">{{ node.name }}</a>
                    </span>
            </div>
        </div>
    </div>
</div>
