<div class="panel panel-default" ng-app="Controllers" ng-controller="TagController">
    <div class="panel-heading" style="overflow:hidden;">
        <b>Tags</b>
        <button style="float:right; " type="button" class="btn btn-default btn-sm">New tag
        </button>
    </div>
    <div>
        </br>
        <ul ng-repeat="tag in tags.objects">
                <span class="label label-default"><a class="white_text"
                                                     href="#/tag/{{ tag.id }}">{{ tag.name }}</a></span>
        </ul>
    </div>
</div>
