<div>
    <div class="panel panel-info">
        <div class="panel-heading" style="overflow: hidden" ng-include="'partials/lab_panel_header_with_tags.html'">
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <tr>
                    <td>Name</td>
                    <td>{{ lab.name }}</td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td>{{ lab.id }}</td>
                </tr>
                <tr ng-show="parentNode.name.length">
                    <td>Parent node</td>
                    <td><span class="label label-info">
                        <a class="black_text" href="#/lab/{{ parentNode.id }}">{{ parentNode.name }}</a>
                    </span>
                    </td>
                </tr>
                <tr ng-show="lab.child_nodes.length">
                    <td>Child nodes</td>
                    <td>
                        <div style="float:left" ng-repeat="node in lab.child_nodes">
                        <span class="label label-info">
                            <a class="black_text" href="#/lab/{{ node.id }}">{{ node.name }}</a>
                        </span>&nbsp;
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>