<div ng-controller="LabCreationModalController">
    <h1>New lab</h1>

    <form class="form-horizontal" role="form" novalidate>
        Lab name <br/>
        <input class="form-control" type="text" placeholder="labName" ng-model="labCreationForm.name">
        Parent lab <br/>
        <select class="form-control" ng-model="labCreationForm.parent_id">
            <option ng-repeat="lab in labCreationForm.parentLabs" value="{{ lab.id }}">{{ lab.name }}</option>
        </select>
        <textarea>{{ labCreationForm.parentLabs }}</textarea>
        <button type="submit" ng-click="saveLab()" class="btn btn-success">Save2</button>
    </form>

</div>