<div ng-controller="LabCreationModalController">
    <h1>New lab</h1>

    <form class="form-horizontal" role="form" novalidate>
        Lab name <br/>
        <input class="form-control" type="text" placeholder="labName" ng-model="labCreationForm.name">
        Parent lab <br/>
        <select class="form-control">
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Five</option>
        </select>
        <button type="submit" ng-click="saveLab()" class="btn btn-success">Save2</button>
    </form>

</div>